* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-font-smoothing: antialiased;
}


::-webkit-scrollbar {
	width: 0;
}

/* font-family: -apple-system, PingFangSC, "Microsoft YaHei", BlinkMacSystemFont, sans-serif, "SegoeUI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "FiraSans", "DroidSans", "HelveticaNeue"; */

ul,
ol {
	list-style: none;
}

a,
s,
del,
u,
i,
em,
strong,
b {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
b {
	font-style: normal;
	font-weight: inherit;
}

input, textarea{
	-webkit-user-select:text !important;
	line-height:normal !important;
}

input{
	vertical-align: middle;
}

input::-ms-clear{
	display: none;
}

input::-webkit-search-cancel-button{
  display: none;
}

input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none;	/* 清除输入框的叉号 */
}

input::-ms-reveal{
	display:none;
}

input,
select,
textarea,
button,
a {
	border: none;
	outline: none;
	text-decoration: none
}

input,
select,
textarea,
button,
a:hover {
	text-decoration: none;
}

*:hover {
	text-decoration: none;
}

textarea {
	resize: none;
}

img {
	display: block;
	border: none;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

textarea::-webkit-input-placeholder,input::-webkit-input-placeholder{
	color: #999 ;
	font-weight: normal;
	display: block;
	line-height: normal;
	height: auto;
	transform: translateY(1px);
}

textarea::-moz-placeholder,input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color: #999 ;
	font-weight: normal;
}
textarea:-moz-placeholder,input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color: #999 ;
	font-weight: normal;
}
textarea:-ms-input-placeholder,input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color: #999 ;
	font-weight: normal;
}