* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}



::-webkit-scrollbar {
	width: 0;
}

/* font-family: -apple-system, PingFangSC, "Microsoft YaHei", BlinkMacSystemFont, sans-serif, "SegoeUI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "FiraSans", "DroidSans", "HelveticaNeue"; */

ul,
ol {
	list-style: none;
}

a,
s,
del,
u,
i,
em,
strong,
b {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
b {
	font-style: normal;
	font-weight: inherit;
}

input,
select,
textarea,
button,
a {
	outline: none;
	text-decoration: none
}

input,
select,
textarea,
button,
a:hover {
	text-decoration: none;
}

*:hover {
	text-decoration: none;
}

textarea {
	resize: none;
}

img {
	display: block;
	border: none;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

.text-justify:after {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 0;
	content: '';
	vertical-align: top;
}
